<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" lang="en">
<head>
    <title>Dikzakken</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get("/chart", function (mydata) {
                var data = google.visualization.arrayToDataTable(mydata);


                var options = {
                    title: 'Voortgang',
                    curveType: 'function',
                    vAxes: {
                        // Adds titles to each axis.
                        0: {title: 'Kg'}
                    },
                    legend: {position: 'bottom'}
                };

                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                chart.draw(data, options);
            });
        }
    </script>
</head>
<body>

<div class="wrapper">
    <h1>DIKZAKKEN</h1>
    <div class="div1">
        <div style="float: left; width: 300px" th:each="deelnemer : ${deelnemers}">
            <h3 align="center" th:text="${deelnemer.name + ' ' + deelnemer.getGewichtPercentageString()}"></h3>
            <table width="100%">
                <tr>
                    <th style="padding-left: 10px" align="left">Datum</th>
                    <th align="left">kg</th>
                    <th align="right">Øcm</th>
                </tr>
                <tr th:each="meeting: ${deelnemer.metingen}">
                    <td style="padding-left: 10px" align="left" th:text="${#dates.format(meeting.getDate(), 'dd-MM-yyyy')}"></td>
                    <td align="left" th:text="${meeting.gewicht}"></td>
                    <td align="right" th:text="${meeting.omvang}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="div2">
        <div style="float: left; width: 300px" th:each="deelnemer : ${deelnemers}">
            <hr/>
            <table width="100%">
                <tr>
                    <td style="padding-left: 10px"><b>Totaal:</b></td>
                    <th:block th:if="${deelnemer.isDikker()}">
                        <td style="color: red; font-weight: bold"
                            th:text="${'+'+deelnemer.getGewichtVerschilAbsoluut()}"></td>
                    </th:block>
                    <th:block th:if="${!deelnemer.isDikker()}">
                        <td style="color: green; font-weight: bold"
                            th:text="${deelnemer.getGewichtVerschilAbsoluut()}"></td>
                    </th:block>
                    <th:block th:if="${deelnemer.isVetter()}">
                        <td align="right" style="color: red;font-weight: bold"
                            th:text="${'+'+deelnemer.getOmvangVerschilAbsoluut()}"></td>
                    </th:block>
                    <th:block th:if="${!deelnemer.isVetter()}">
                        <td align="right" style="color: green;font-weight: bold"
                            th:text="${deelnemer.getOmvangVerschilAbsoluut()}"></td>
                    </th:block>
                </tr>
            </table>
        </div>
    </div>
    <br/>
    <br/>

    <div class="div2" style="padding-left: 10px">
        <form method="post" th:object="${newmeeting}" th:action="@{/new/}">
            <b>Nieuwe meeting</b><br/>
            Gewicht: <input type="text" th:field="*{gewicht}"/><br/>
            Omvang: <input type="text" th:field="*{omvang}"/><br/>
            Deelnemer: <select th:field="*{name}" id="names">
            <option th:each="deelnemer : ${deelnemers}" th:value="${deelnemer.name}"
                    th:text="${deelnemer.name}"></option>
        </select><br/>
            <input type="submit" name="Submit"/>
        </form>
    </div>


    <div class="div2" id="curve_chart" style="width: 900px; height: 500px"></div>

</div>

</body>
</html>