<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="styles/styles.css"/>

</head>
<body>
<section id="cover" style="background: #222 url('../img/lake.jpg') center center no-repeat;">
    <div id="cover_caption">
        <div class="container">
            <div class="col-sm-10 offset-sm-1"><h1 class="display-3">Hé Dikke!</h1>
                <p>Log hier in.</p>
                <form th:action="@{/authenticate}" class="form-inline justify-content-center" method="post">
                    <div class="col-md-auto" style="padding: 0px; margin: 0px">
                        <label class="sr-only">username</label>
                        <input type="text" class="form-control form-control-lg" name="username" placeholder="Username"/>
                    </div>
                    <div class="form-group">
                        <label class="sr-only">password</label>
                        <input type="password" class="form-control form-control-lg" name="password"  placeholder="Password"/>
                    </div>
                    <div class="col-md-auto align-baseline">
                        <button type="submit" class="btn btn-success btn-lg align-baseline"> Lets go!</button>
                    </div>
                </form>
                <div style="color:#9d223c"  th:if="${param.error}">Foutje, verkeerd username/password</div>
                Nog niet geregistreerd? Klik <a th:href="@{/registratie}">hier</a> om in te registreren.
            </div>

        </div>
    </div>
</section>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>