<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="styles/styles.css"/>

</head>
<body>
<section id="cover" style="background: #222 url('../img/lake.jpg') center center no-repeat;">
    <div id="cover_caption">
        <div class="container">
            <div class="col-sm-10 offset-sm-1"><h1 class="display-3">Hé Dikke!</h1>
                <p>Log hier in.</p>
                <form th:action="@{/authenticate}" th:object="${user}" class="form-inline justify-content-center"
                      method="post">
                    <div class="form-group" th:if="!${#fields.hasErrors('username')}">
                        <label class="sr-only">username</label>
                        <input type="text" class="form-control form-control-lg" placeholder="Username"
                               th:field="*{username}"/>
                    </div>
                    <div class="form-group" th:if="!${#fields.hasErrors('password')}">
                        <label class="sr-only">password</label>
                        <input type="password" class="form-control form-control-lg" placeholder="Password"
                               th:field="*{password}"/>
                    </div>
                    <div class="col-md-auto has-danger" style="padding: 0px; margin: 0px"
                         th:if="${#fields.hasErrors('username')}">
                        <label class="sr-only">username</label>
                        <input type="text" class="form-control form-control-lg form-control-danger"
                               placeholder="Username" th:field="*{username}"/>
                        <p class="form-control-feedback" th:text="${#fields.errors('usernamer')[0]}"></p>
                    </div>
                    <div class="col-md-auto has-danger no-padding" th:if="${#fields.hasErrors('password')}">
                        <label class="sr-only">password</label>
                        <input type="password" class="form-control form-control-lg form-control-danger"
                               placeholder="Password" th:field="*{password}"/>
                        <p class="form-control-feedback" th:text="${#fields.errors('password')[0]}"></p>
                    </div>
                    <div class="col-md-auto align-baseline" th:if="!${#fields.hasErrors('*')}">
                        <button type="submit" class="btn btn-success btn-lg align-baseline"> Lets go!</button>
                    </div>
                    <div class="col-md-auto align-baseline" th:if="${#fields.hasErrors('*')}">
                        <button type="submit" class="btn btn-success btn-lg align-baseline"
                                th:if="${#fields.hasErrors('*')}">Lets go!
                        </button>
                        <p class="form-control-feedback">.</p>
                    </div>

                </form>
            </div>
            <br/>
            <a href="#nav-main" class="btn btn-outline-secondary" role="button">&darr;</a>


        </div>
    </div>
</section>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>